body {
  margin: 0;
}

.yellowblock {
  background-color: #ffff00;
}
.magentablock {
  background-color: #ff00ff;
}

.cyanblock {
  background-color: #00ffff;
}

.block {
  height: 100%;
  width: 100%;
}

#currentBlock {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#oldBlock {
  position: fixed;
  height: 100px;
  width: 70px;
  top: 20px;
  right: 20px;
}

.infoBar {
  float: left;
  margin-left: 8px;
}
