body {
  margin: 0;
}

.yellowblock {
  background-color: #ffff00;
}
.magentablock {
  background-color: #ff00ff;
}

.cyanblock {
  background-color: #00ffff;
}

.block {
}

#currentBlock {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#oldBlock {
  position: fixed;
  height: 100px;
  width: 70px;
  top: 20px;
  right: 20px;
  border: solid 3px #ffffff;
  z-index: 0;
}

#cardCount .count {
  font-size: 26px;
  font-weight: 700;
  position:fixed;
  top: 20px;
  right: 20px;
  height: 100px;
  width: 70px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  z-index: 1;
}

.infoBar {
  position: absolute;
  width: 20%;
  left: 40%;
  top: 20px;
  padding: 4px;
  background-color: #ffffff;
}

.arrow {
  margin-left: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
}

.arrow:hover {
  cursor: pointer;
}

.leftArrow {
  background-image:url('images/left-red.png');
}
.leftArrow:hover {
  background-image:url('images/left-blue.png');
}
.rightArrow {
  background-image:url('images/right-red.png');
}
.rightArrow:hover {
  background-image:url('images/right-blue.png');
}
.upArrow {
  background-image:url('images/up-red.png');
}
.upArrow:hover {
  background-image:url('images/up-blue.png');
}
